<div id="<%= dom_id list %>">


  <p>
  <% if list.completed %>
    <strong>Description:</strong>
    <span class="strike">
    <%= link_to list.description, list %>
    </span>
    <% else %>
    <strong>Description:</strong>
    <%= link_to list.description, list  %>
    <%end%>
  </p>


</div>

