<p style="color: green"><%= notice %></p>

<h1>Bucket list</h1>


<div id="lists">
  <% @lists.each do |list| %>
    <%= render list %>
    <p>
      <%= link_to "Show this list", list %>
    </p>
  <% end %>
</div>

<%= link_to "New wish", new_list_path,class: "btn btn-primary" %>

